:root {
  // Colors
  --dif_color: #80ed99;
  --active_color: #c7f9cc;
  --icons_color: #2e2e2e;
  --landing_color: #1e1e1e;
  --footer_color: #22577a;
  // Transitions
  --main_transition: 0.3s;
  // Main Padding
  --main_padding: 100px;
}
