.certificates {
  padding: var(--main_padding) 0;
  .container {
    .content {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      @media (max-width: 1200px) {
        & {
          grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        }
      }
      @media (max-width: 992px) {
        & {
          grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        }
      }
      @media (max-width: 768px) {
        & {
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
      }
      align-items: stretch;
      gap: 20px;
      > img {
        width: 100%;
        padding: 20px;
        box-shadow: inset 0 0 20px #00000080;
      }
    }
  }
}
